<footer class="sticky-bottom">
    <ul class="list-group list-group-horizontal d-flex justify-content-between">
        <li class="list-group-item col-4 text-center border-0">
            <h5 class="text-center">Contacto:</h5>
            <a [routerLink]="['/about']" class="text-center">Conoce mas...</a>
        </li>
        <li class="list-group-item col-4 border-0">
            <h5 class="text-center">Hecho para:</h5>
            <div class="row text-center">
                <span class="col-12">Seminario de Angular dictado por</span>
                <p class="col-12">
                    <span class="text-primary">@</span>Javi, <span class="text-primary">@</span>Franco, <span class="text-primary">@</span>Bala
                </p>
            </div>
        </li>
    </ul>
    <div class="text-center">
        <p class="font-weight-lighter text-muted m-0">Iconos obtenidos en <a href="https://www.flaticon.es/" class="text-center">www.flaticon.com</a></p>
        <p class="font-weight-lighter text-muted m-0">Imagenes obtenidas de <a href="https://californiaavocado.com/" class="text-center">California Avocado</a></p>
    </div>
</footer>