<footer>
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item col-6 text-center border-0">
            <h5 class="text-center">Contacto:</h5>
            <a href="/#" class="text-center">Conoce mas...</a>
        </li>
        <li class="list-group-item col-6 border-0">
            <h5 class="text-center">Hecho para:</h5>
            <div class="row text-center">
                <span class="col-12">Seminario de Angular dictado por</span>
                <p class="col-12">
                    <span class="text-primary">@</span>Javi, <span class="text-primary">@</span>Franco, <span class="text-primary">@</span>Bala
                </p>
            </div>
        </li>
    </ul>
</footer>