<footer class="sticky-bottom">
    <ul class="list-group bg-light list-group-horizontal d-flex justify-content-around">
        <li class="list-group-item col-3 text-center border-0">
            <h5 class="text-center">Contacto:</h5>
            <a [routerLink]="['/about']" class="text-center">Conoce mas...</a>
        </li>
        <li class="list-group-item col-6 text-center border-0">
            <div class="text-center">
                <p class="font-weight-lighter text-muted m-0">Iconos diseñados por <a href="http://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon"> www.flaticon.es</a></p>
                <p class="font-weight-lighter text-muted m-0">Imagenes obtenidas de <a href="https://californiaavocado.com/" class="text-center">California Avocado</a></p>
            </div>
        </li>
        <li class="list-group-item col-3 border-0">
            <h5 class="text-center">Hecho para:</h5>
            <div class="row text-center">
                <span class="col-12">Seminario de Angular dictado por</span>
                <p class="col-12">
                    <span class="text-primary">@</span>Javi, <span class="text-primary">@</span>Franco, <span class="text-primary">@</span>Bala
                </p>
            </div>
        </li>
    </ul>
</footer>