<div class="row ">
    <div class="text-center col d-inline-block">
        <h1 class="col-3 d-inline">Angular</h1>
        <img class="img-thumbnail border-0 col-5 d-inline size-limit" src="https://www.flaticon.es/svg/static/icons/svg/1717/1717622.svg" alt="Avocado">
        <h1 class="col-3 d-inline">Avocado</h1>
    </div>
    <div class="col-12 text-center">
        <a [routerLink]="['/suggest']">Deberia comer uno hoy?</a>
    </div>
</div>
<div class="card-group scroll-container">
    <div class="row row-cols-2 col mx-auto">
        <div *ngFor="let avocado of avocados">
            <div class="card mx-1 my-3">
                <img [src]="avocado.image" class="card-img-top col-7 img-fluid mx-auto" [alt]="avocado.name">
                <div class="card-body">
                    <h5 class="card-title">{{avocado.name}}</h5>
                    <p class="card-text">{{avocado.price}}</p>
                </div>
                <div class="card-footer">
                    <div class="row" *ngIf="avocado.stock>0">
                        <app-input-number class="col-8" [(quantity)]="avocado.quantity" [max]="avocado.stock"></app-input-number>
                        <button class="btn btn-success col-3 ml-2" (click)="addToCart(avocado)">Comprar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>