<div class="row text-center">
    <h2 class="col-12">Bienvenido al Avo-ut</h2>
    <img src="https://www.flaticon.es/svg/static/icons/svg/2060/2060578.svg" alt="Happy Avocado" class="img-thumbnail mx-auto border-0" width="100">
</div>
<ul class="list-group col-4 mx-auto">
    <li class=" list-group-item border-0 ">Datos de contacto:</li>
    <li class="list-group-item border-0 ">Nombre: Nicolas Erasun</li>
    <li class="list-group-item border-0 ">Mail: nicoerasun98@gmail.com</li>
    <li class="list-group-item border-0 mt-5 d-flex justify-content-around">
        <a href="https://github.com/ErasunN"><i class="fab fa-github"></i> GitHub</a>
        <a href="https://www.linkedin.com/in/nicolas-erasun-7a2421196/"><i class="fab fa-linkedin"></i> LinkedIn</a>
    </li>
</ul>