<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mt-1 col-10">
            <li class="nav-item col-6 text-center">
                <a class="nav-link" href="#">
                    <p class="col-9 text-body  mx-auto"><img src="../../assets/img/aguacate.png" class="img-fluid img-nav" alt="Avocado"> Avocado Store</p>
                </a>
            </li>
            <li class="nav-item col-6 text-center">
                <a class="nav-link" href="#">
                    <p class="col-9 text-body mx-auto"><img src="../../assets/img/cesta-de-picnic.png" class="img-fluid img-nav mr-1" alt="carrito">Compras</p>
                </a>
            </li>
        </ul>
    </div>
</nav>