<div class="col-9 mx-auto">
    <div *ngIf="cartList.length>0; else emptyList">
        <h2>Avolista:</h2>
        <div *ngFor="let avocado of cartList">
            <div class="row my-2">
                <div class="card col">
                    <div class="card-body">
                        <div class="row">
                            <img class="col-2 img-fluid" [src]="avocado.image">
                            <h4 class=" col-4 ">{{avocado.name}}</h4>
                            <h6 class=" col-2 ">Cantidad: {{avocado.quantity}}</h6>
                            <div class=" col-4 ">
                                Precio: $
                                <input type="number" disabled [value]="avocado.quantity*avocado.price">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                Subtotal: <span id="subtotalCompra">{{total$ | currency}}</span>
            </div>
        </div>
    </div>
    <ng-template #emptyList>
        <div class="card col">
            <div class="card-body text-center">
                <h1>Su Avolista esta vacia!</h1>
                <img class="img-fluid" src="https://www.flaticon.es/svg/static/icons/svg/2791/2791204.svg" alt="Avocado Mexicano">
            </div>
        </div>
    </ng-template>
</div>